<template>
  <div id="app">
    <header class="section">
      <div class="container">
        <img class="logo" src="./assets/logo.png" alt="logo">
        <div class="disclaimer">
         This is a simple users management system made using Node Js, Vuejs and Expressjs on a mongoDB database, all the basic funcionality are implemented. Pagination display 10 records per page.
        </div>
      </div>
    </header>
    <main class="section">
      <div class="container">
        <UserList />
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="disclaimer">
      Please feel free to contact me for any questions, Thanks.<br>
          <span class="credits">Volpicella Mattia - info@mypurpledesk.com</span>
          <br><br>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import UserList from './components/UserList.vue'
import 'bulma/css/bulma.css'

export default {
  name: 'app',
  components: {
    UserList
  }
}
</script>

<style lang="scss">
@import '../public/css/main.scss'
</style>
