@font-face {
  font-family: "basic-icon-set";
  src: url("./assets/fonts/basic-icon-set.eot");
  src: url("./assets/fonts/basic-icon-set.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/basic-icon-set.woff") format("woff"), url("./assets/fonts/basic-icon-set.ttf") format("truetype"), url("./assets/fonts/basic-icon-set.svg#basic-icon-set") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:after {
  font-family: "basic-icon-set" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "basic-icon-set" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:after {
  content: "\61";
}

.icon-pencil-square-o:after {
  content: "\62";
}

.icon-user-add:after {
  content: "\63";
}

.icon-camera:after {
  content: "\64";
}

.icon-arrow-combo:after {
  content: "\65";
  font-size: 10px;
  top: 1px;
  position: relative;
  left: 5px;
  color: #999;
}

.icon-left:after {
  content: "\66";
}

.icon-right:after {
  content: "\67";
}
