

<template>
<div class="users-wrapper">
  <div v-if="loadingData" class="loading-background-wrapper">
    <div class="loading-background">
      <progress class="progress is-small" max="100"></progress>
    </div>
  </div>
  <div id="modal" :class="{'is-active': modalOpen}" class="modal user-add-modal">
    <div class="modal-background" @click="toggleModal"></div>
    <div class="modal-content">
      <img class="logo" src="../assets/logo.png" alt="logo">
      <div class="columns">
        <div class="column">
          <div class="input-box control">
            <div class="dropbox drop-area">
              <p class="icon-camera">
                Arrastra tu imagen aquí<br> o haz click para buscar tus archivos.
              </p>
              <div class="modal-user-img-wrapper">
                <img :src="'images/uploads/'+userParams.pic" alt="">
              </div>
              <input class="input-img" type="file" name="pic" value="" @change="onUploadFile">
              <canvas id="dummyPhoto" width="300" height="300"></canvas>
            </div>
          </div>
          <div class="disclaimer">
            <a href="#">Privacy settings</a> - Lorem ipsum dolor sit amet consectetur adipiscing elit sociosqu faucibus, euismod auctor gravida primis aliquet purus etiam quam a, orci hendrerit rhoncus erat rutrum sociis bibendum cursus. Augue nullam
            inceptos scelerisque fames ultrices tempus ac mollis suscipit ante cubilia luctus, feugiat nisl congue donec velit pellentesque nec magnis interdum nam.
          </div>
        </div>
        <div class="column">
          <div class="input-box control">
            <label class="label" for="fname">Nombre</label>
            <input class="input" type="text" name="fname" value="" v-model="userParams.fname">
          </div>
          <div class="input-box control">
            <label class="label" for="lname">Appelidos</label>
            <input class="input" type="text" name="lname" value="" v-model="userParams.lname">
          </div>
          <div class="input-box control">
            <label class="label" for="email">Email</label>
            <input class="input" type="email" name="email" value="" v-model="userParams.email">
          </div>
          <div class="input-box control">
            <label class="label" for="position">Cargo</label>
            <input class="input" type="text" name="position" value="" v-model="userParams.position">
          </div>
          <div class="input-box control">
            <label class="label" for="office">Centro de trabajo</label>
            <input class="input" type="text" name="office" value="" v-model="userParams.office">
          </div>
          <div class="input-box control">
            <label class="label" for="salary">Salario/h</label>
            <input class="input" type="text" name="salary" value="" v-model="userParams.salary">
          </div>
          <div class="input-box control">
            <label class="label" for="weekly">Horas Semanales</label>
            <input class="input" type="number" name="weekly" value="" v-model="userParams.weekly">
          </div>
          <div class="input-box control">
            <label class="label" for="company">Empresa</label>
            <input class="input" type="text" name="company" value="" v-model="userParams.company">
          </div>
          <div v-if="addNew" class="input-box control action">
            <div class="button button-submit" v-on:click="addUser">Añadir usuario</div>
          </div>
          <div v-if="!addNew" class="input-box control action">
            <div class="button button-submit" v-on:click="updateUserData(userParams._id)">Guardar</div>
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="toggleModal"></button>
  </div>
  <div class="button user-add is-left" @click="toggleModal(true)">
    Agregar nuevo usuario
  </div>
  <div class="user-list-wrapper">
    <table class="table user-list">
      <thead>
        <tr class="table-head">
          <th class="no-sort">Foto</th>
          <th v-on:click="sortColumn('fname')" class="icon-arrow-combo">Name</th>
          <th v-on:click="sortColumn('lname')" class="icon-arrow-combo">Appelidos</th>
          <th v-on:click="sortColumn('email')" class="icon-arrow-combo">Email</th>
          <th v-on:click="sortColumn('position')" class="icon-arrow-combo">Cargo</th>
          <th v-on:click="sortColumn('office')" class="icon-arrow-combo">Centro de trabajo</th>
          <th v-on:click="sortColumn('salary')" class="icon-arrow-combo">Salario/h</th>
          <th v-on:click="sortColumn('weekly')" class="icon-arrow-combo">Horas Semanales</th>
          <th class="no-sort">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="user-item" v-for="(user) in sortedUsers" v-bind:key="user._id" >
          <td class="user-item-par pic">
            <div v-on:click="getUserData(user._id)" class="user-img" :style="{ 'background-image': 'url(images/uploads/'+user.pic+')', 'padding-bottom':'50%'}"></div>
          </td>
          <td class="user-item-par user-item-fname">
            {{user.fname}}
          </td>
          <td class="user-item-par user-item-lname">
            {{user.lname}}
          </td>
          <td class="user-item-par user-item-email">
            {{user.email}}
          </td>
          <td class="user-item-par user-item-position">
            {{user.position}}
          </td>
          <td class="user-item-par user-item-office">
            {{user.office}}
          </td>
          <td class="user-item-par user-item-salary">
            {{user.salary}}
          </td>
          <td class="user-item-par user-item-weekly">
            {{user.weekly}}
          </td>
          <td class="actions">
            <div class="user-item-par icon-trash" v-on:click="deleteUser(user._id)"></div>
            <div class="user-item-par icon-pencil-square-o" v-on:click="getUserData(user._id)"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <div class="button prev-btn" v-on:click="prevPage"><span>Anterior</span></div>
    <div class="currentPage">
      {{currentPage}}
    </div>
    <div class="button next-btn" v-on:click="nextPage"><span>Siguiente</span></div>
  </div>
</div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import UserRequest from '../UserRequest'

export default {
  name: 'UserList',
  data() {
    return {
      users: [],
      image: '',
      error: "",
      userParams: {},
      pageSize: 10,
      currentPage: 1,
      currentSort: 'fname',
      currentSortDir: 'asc',
      modalOpen: false,
      updateModal: true,
      loadingData: true,
      addNew: false

    }
  },
  async created() {
    this.showUser()
  },
  methods: {
    async addUser() {
      this.loadingData = true
      this.toggleModal(false)
      await UserRequest.insertUser([this.userParams][0])
      this.showUser()
    },
    async deleteUser(id) {
      this.loadingData = true
      await UserRequest.deleteUser(id)
      this.showUser()
    },
    async getUserData(id) {
      this.addNew = false
      this.loadingData = true
      this.up = await UserRequest.getUser(id)

      this.loadingData = false
      this.userParams = this.up[0]
      this.toggleModal(false)
    },
    async updateUserData(id) {
      this.loadingData = true
      this.toggleModal(false)
      await UserRequest.updateUser([this.userParams][0])
      this.showUser()
    },

    async showUser() {
      try {
        this.users = await UserRequest.getUsers()
        this.loadingData = false
      } catch (err) {
        this.error = err.message

      }
    },
    sortColumn(direction) {
      if (direction === this.currentSort) {
        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
      }
      this.currentSort = direction;
      this.users.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === 'desc') modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
      });
    },
    nextPage() {
      if ((this.currentPage * this.pageSize) < this.users.length) this.currentPage++;
    },
    prevPage() {
      if (this.currentPage > 1) this.currentPage--;
    },
    async onUploadFile(event) {
      this.image = event.target.files[0];
      [this.userParams][0]['pic'] = this.image
      await UserRequest.getDummyImage(event.target.files[0])
    },
    onRemoved() {
      this.image = '';
    },
    toggleModal(addnew) {
      this.addNew = addnew
      if (this.addNew) {
        this.userParams = {}
      }
      this.modalOpen = !this.modalOpen
      if (this.modalOpen) {
        this.loadingData = false
      }
      this.image = '';
      UserRequest.clearCanvas()
    }
  },
  computed: {
    sortedUsers: function() {
      return this.users.sort((a, b) => {
        let modifier = 1;
        if (this.currentSortDir === 'desc') modifier = -1;
        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
        return 0;
      }).filter((row, index) => {
        let start = (this.currentPage - 1) * this.pageSize;
        let end = this.currentPage * this.pageSize;
        if (index >= start && index < end) return true;
      });
    }
  }
}
</script>

<style scoped>

</style>
