@charset "UTF-8";
@font-face {
  font-family: "basic-icon-set";
  src: url("fonts/basic-icon-set.eot");
  src: url("fonts/basic-icon-set.eot?#iefix") format("embedded-opentype"), url("fonts/basic-icon-set.woff") format("woff"), url("fonts/basic-icon-set.ttf") format("truetype"), url("fonts/basic-icon-set.svg#basic-icon-set") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "basic-icon-set" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "basic-icon-set" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\61";
}

.icon-pencil-square-o:before {
  content: "\62";
}

.icon-user-add:before {
  content: "\63";
}

.icon-camera:before {
  content: "\64";
}

.icon-arrow-combo:before {
  content: "\65";
}

.icon-left:before {
  content: "\66";
}

.icon-right:before {
  content: "\67";
}
