@font-face {
  font-family: "basic-icon-set";
  src: url("./assets/fonts/basic-icon-set.eot");
  src: url("./assets/fonts/basic-icon-set.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/basic-icon-set.woff") format("woff"), url("./assets/fonts/basic-icon-set.ttf") format("truetype"), url("./assets/fonts/basic-icon-set.svg#basic-icon-set") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:after {
  font-family: "basic-icon-set" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "basic-icon-set" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:after {
  content: "\61";
}

.icon-pencil-square-o:after {
  content: "\62";
}

.icon-user-add:after {
  content: "\63";
}

.icon-camera:after {
  content: "\64";
}

.icon-arrow-combo:after {
  content: "\65";
  font-size: 10px;
  top: 1px;
  position: relative;
  left: 5px;
  color: #999;
}

.icon-left:after {
  content: "\66";
}

.icon-right:after {
  content: "\67";
}

body {
  background: #999;
  min-height: 100vh;
}

body a {
  color: #999;
}

body a:hover {
  color: #ffa632;
}

#app header {
  background: #ddd;
}

#app header .logo {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

#app header .disclaimer {
  font-size: 12px;
  max-width: 600px;
}

#app main {
  background: #ddd;
  min-height: 50vh;
}

#app main .user-list {
  border-radius: 4px;
  width: 100%;
  margin: 25px 0;
}

#app main .user-list th {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 2rem;
}

#app main .user-list th:not(.no-sort) {
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#app main .user-list th:not(.no-sort):hover {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffa632;
  cursor: pointer;
}

#app main .user-list td {
  vertical-align: middle;
  font-size: 12px;
}

#app main .user-list tr:nth-child(odd):not(.table-head) {
  background-color: #f9f0e4;
}

#app main .user-list .actions div {
  float: left;
  margin: 10px;
  font-size: 20px;
}

#app main .user-list .actions div:hover {
  color: #ffa632;
  cursor: pointer;
}

#app main .user-list-wrapper {
  min-height: 200px;
  position: relative;
}

#app main .user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  cursor: pointer;
}

#app main .user-img:hover {
  border: 2px solid #ffa632;
}

#app main .loading-background-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(10, 10, 10, 0.5);
  top: 0;
  left: 0;
}

#app main .loading-background {
  position: absolute;
  width: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

#app main .loading-background .progress:indeterminate {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #ffa632), color-stop(30%, #dbdbdb));
  background-image: linear-gradient(to right, #ffa632 30%, #dbdbdb 30%);
}

#app main .modal .logo {
  width: 100px;
  opacity: 0.5;
  margin-bottom: 20px;
}

#app main .modal-background {
  background-color: rgba(10, 10, 10, 0.5);
}

#app main .modal-content {
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  padding: 20px;
}

#app main .modal-content .dropbox {
  outline: 2px dashed grey;
  outline-offset: -10px;
  background-color: #f9f0e4;
  color: dimgray;
  padding: 10px;
  height: 320px;
  position: relative;
  cursor: pointer;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#app main .modal-content .dropbox:hover {
  outline: 2px dashed #fff;
  background-color: #ffa632;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#app main .modal-content .dropbox:hover p {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
}

#app main .modal-content .dropbox input {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 0;
}

#app main .modal-content .dropbox p {
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  top: 55%;
  position: absolute;
  width: calc(100% - 20px);
  transform: translateY(-50%);
  padding: 10px;
}

#app main .modal-content .dropbox p:after {
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
}

#app main .modal-content .input-img {
  opacity: 0;
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

#app main .modal-content .disclaimer {
  font-size: 10px;
  margin-top: 30px;
  padding: 0 10px;
}

#app main .modal-content .control label {
  font-size: 10px;
  text-transform: uppercase;
}

#app main .modal-content .control input {
  margin-bottom: 10px;
  font-size: 12px;
}

#app main .modal-content .control.action {
  float: right;
}

#app main .modal-content .control.action .button {
  border: 1px solid #ccc;
}

#app main .modal-content .control.action .button:hover {
  border: 1px solid #fff;
}

#app main .modal-user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
}

#app main .modal-user-img-wrapper {
  top: 10px;
  text-align: center;
  left: 10px;
  position: absolute;
  width: 300px;
  height: 300px;
}

#app main .modal-user-img-wrapper img {
  width: 300px;
  height: 300px;
}

#app main .modal input:-webkit-autofill,
#app main .modal input:-webkit-autofill:active,
#app main .modal input:-webkit-autofill:focus,
#app main .modal input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#app main .button {
  text-transform: uppercase;
  font-size: 11px;
  height: 2rem;
  border: none;
  font-weight: bold;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#app main .button:hover {
  background-color: #ffa632;
  color: #fff;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#app main .pagination {
  width: auto;
  float: right;
}

#app main .pagination .button.prev-btn {
  border-radius: 4px 0 0 4px;
}

#app main .pagination .button.next-btn {
  border-radius: 0 4px 4px 0;
}

#app main .pagination .currentPage {
  background: #fff;
  padding: 0 5px;
  margin: 0 3px;
  min-width: 25px;
  font-size: 11px;
  line-height: 2rem;
  font-weight: bold;
}

#app footer .disclaimer {
  margin-top: 50px;
  font-size: 12px;
  max-width: 600px;
}

#app footer .disclaimer .credits {
  font-size: 10px;
  font-weight: bold;
}
