@import "components/fonts"; /////VARIABLE + MIXING
$hoverColor: #ffa632;
$oddColor: #f9f0e4;
@mixin transitionAni($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

body {
  background: #999;
  min-height: 100vh;

  a {
    color: #999;

    &:hover {
      color: $hoverColor;
    }
  }
}

#app {
  header {
    background: #ddd;

    .logo {
      max-width: 300px;
      height: auto;
      margin-bottom: 20px;
    }

    .disclaimer {
      font-size: 12px;
      max-width: 600px;
    }
  }

  main {
    background: #ddd;
    min-height: 50vh;

    .user {
      &-list {
        border-radius: 4px;
        width: 100%;
        margin: 25px 0;

        th {
          text-transform: uppercase;
          font-size: 11px;
          line-height: 2rem;
        }

        th:not(.no-sort) {
          cursor: pointer;
          @include transitionAni(all 0.3s);

          &:hover {
            @include transitionAni(all 0.3s);
            color: $hoverColor;
            cursor: pointer;
          }
        }

        td {
          vertical-align: middle;
          font-size: 12px;
        }

        tr {
          &:nth-child(odd):not(.table-head) {
            background-color: $oddColor;
          }
        }

        .actions {
          div {
            float: left;
            margin: 10px;
            font-size: 20px;

            &:hover {
              color: $hoverColor;
              cursor: pointer;
            }
          }
        }

        &-par {}

        &-wrapper {
          min-height: 200px;
          position: relative;
        }
      }

      &-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 50px;
        width: 50px;
        border: 2px solid transparent;
          cursor: pointer;

          &:hover{
              border: 2px solid $hoverColor;
          }
      }
    }

    .loading {
      &-background-wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
        background-color: rgba(10, 10, 10, 0.5);
        top: 0;
        left: 0;
      }

      &-background {
        position: absolute;
        width: 10%;
        top: 50%;
        left: 50%;
        transform: translate(-50%);

        .progress:indeterminate {
          background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, $hoverColor), color-stop(30%, #dbdbdb));
          background-image: linear-gradient(to right, $hoverColor 30%, #dbdbdb 30%);
        }
      }
    }

    .modal {
      .logo {
        width: 100px;
        opacity: 0.5;
        margin-bottom: 20px;
      }

      &-background {
        background-color: rgba(10, 10, 10, 0.5);
      }

      &-content {
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        padding: 20px;

        .dropbox {
          outline: 2px dashed grey;
          outline-offset: -10px;
          background-color: $oddColor;
          color: dimgray;
          padding: 10px;
          height: 320px;
          position: relative;
          cursor: pointer;
          @include transitionAni(all 0.2s);

          &:hover {
            outline: 2px dashed #fff;
            background-color: $hoverColor;
            @include transitionAni(all 0.2s);

            p {
              @include transitionAni(all 0.2s);
              color: #fff;
            }
          }

          input {
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            margin: 0;
          }

          p {
            @include transitionAni(all 0.2s);
            font-size: 10px;
            text-align: center;
            text-transform: uppercase;
            top: 55%;
            position: absolute;
            width: calc(100% - 20px);
            transform: translateY(-50%);
            padding: 10px;

            &:after {
              position: absolute;
              left: 50%;
              top: -10px;
              transform: translateX(-50%);
            }
          }
        }

        .input-img {
          opacity: 0;
          width: 100%;
          height: 200px;
          position: absolute;
          cursor: pointer;
        }

        .disclaimer {
          font-size: 10px;
          margin-top: 30px;
          padding: 0 10px;
        }

        .control {
          label {
            font-size: 10px;
            text-transform: uppercase;
          }

          input {
            margin-bottom: 10px;
            font-size: 12px;
          }

          &.action {
            float: right;

            .button {
              border: 1px solid #ccc;

              &:hover {
                border: 1px solid #fff;
              }
            }
          }
        }
      }

      &-user {
        &-img {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 50px;
          width: 50px;

          &-wrapper {
            top: 10px;
            text-align: center;
            left: 10px;
            position: absolute;
            width: 300px;
            height: 300px;
            img{
              width: 300px;
              height: 300px;
            }
          }
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:active,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:hover {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }
    }

    .button {
      text-transform: uppercase;
      font-size: 11px;
      height: 2rem;
      border: none;
      font-weight: bold;
      @include transitionAni(all 0.3s);

      &:hover {
        background-color: $hoverColor;
        color: #fff;
        @include transitionAni(all 0.3s);
      }
    }

    .pagination {
      width: auto;
      float: right;

      .button {
        &.prev-btn {
          border-radius: 4px 0 0 4px;
        }

        &.next-btn {
          border-radius: 0 4px 4px 0;
        }
      }

      .currentPage {
        background: #fff;
        padding: 0 5px;
        margin: 0 3px;
        min-width: 25px;
        font-size: 11px;
        line-height: 2rem;
        font-weight: bold;
      }
    }
  }

  footer {
    .disclaimer {
      margin-top: 50px;
      font-size: 12px;
      max-width: 600px;

      .credits {
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}
